@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap');


body{
    background-color: black;
    padding: 50px 150px;
    font-family: 'Poppins', sans-serif;
}
h1{
    align-items: center;
    text-align: center;
    background-color: rgba(255, 76, 76, 0.874);
    color: rgb(3, 2, 1);
    border-radius: 5px;
    padding: 2px;
}
#container{
    background-image: url("temprature.jpg");
    text-align: center;
    padding: 50px;
}
.input-container{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;

}
label{
    font-size: 28px;
    font-weight: 200;
}